body{
    overflow-x: hidden;
}
.typed-cursor {
    display: none;
}
.aboutMe{
background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
width: 80%;
text-align: center;
padding: 50px;
margin-left: 150px;
margin-top: 80px;
}
.tab{
background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
width: 80%;
text-align: center;
margin-left: 150px;
padding: 50px;
margin-top: 80px;
}
.tab button{
    margin-left: 10px;
    margin-top: 30px;
}
.bar{
    margin-top: 40px;
    margin-left: 670px;
}
@media screen and (max-device-width: 480px)
    and (orientation: portrait) {
        .links{
        padding-left: 40px;
        padding-right: 40px;
        }
        #linkOne{
            display: none;
        }
        #linkTwo{
            display: none;
        }
        #linkThree{
            display: none;
        }
        .nav-links li a{
            font-size: 12px;
        }
        .intro h1{
            font-size: 30px;
        }
        #changingText{
            font-size: 28px;
        }
        .aboutMe{
            margin: 38px;
        }
        .aboutMe p{
            font-size: 15px;
            text-align:justify;
        }
        .education h1{
            margin-top: -70px;
            font-size:40px;
        }
        .container{
            margin-left: 20px;
        }
        .container h3{
            font-size: 16px;
        }
        .container h4{
            font-size: 14px;
        }
        .Projects h1{
            font-size: 25px;   
        }
        .tab{
            margin-left: 40px;
        }
        .tab h2{
            font-size: 30px;
        }
        .tab p{
            font-size: 16px;
        }
        .mySkills h1{
            font-size: 40px;
            margin-bottom: 60px;
        }
        .bar{
            margin-left: 50px;
            margin-top: 10px;
        }
        .bar p{
            font-size: 16px;
        }
        .copyright{
            font-size: 16px;
        }
    }